<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    </head>
    <body>
        <input type="date" id="date-1" name="date-1" class="input" />
        <input type="date" id="date-2" name="date-2" class="input" />

        <div id="stats"></div>
        <div id="closed"></div>
        <div id="average"></div>
        <div id="perday"></div>
        <div id="recent"></div>
    </body>
</html>